* {
  font-family: DM Sans;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #191919;
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 44px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 33px;
}

.menu {
  display: flex;
  padding-left: 20px;
  gap: 40px;
}

li {
  list-style: none;
}

.menu__item {
  color: #fff;
  text-decoration: none;
}

.menu__item_active,
.menu__item:hover {
  color: #118da8;
}

.main {
  display: flex;
  padding: 40px 70px 0 70px;
  position: relative;
  gap: 60px;
  min-width: 1300px;
}

.image__salute {
  position: absolute;
  top: 15px;
  left: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.info__title {
  color: #fff;
  font-weight: 300;
  font-size: 64px;
  line-height: 88px;
  letter-spacing: 3.2px;
  padding-right: 60px;
  min-width: 530px;
}

.info__title > strong {
  text-transform: uppercase;
}

.stream {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  gap: 16px;
}

.stream__text {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
}

.icons {
  padding-left: 0;
  display: flex;
  gap: 17px;
}

.episodes {
  display: flex;
  padding: 100px 70px 0 70px;
  flex-direction: column;
  gap: 40px;
  min-width: 1300px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title__name {
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #fff;
}

.btn {
  display: block;
  width: fit-content;
  height: 51px;
  background-color: #118da8;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin: 24px 0px;
  font-size: 17px;
  line-height: 27px;
  text-decoration: none;
  padding: 12px 15px 12px 20px;
}

.btn:hover {
  background-color: rgba(17, 141, 168, 0.7);
}

ul {
  padding-left: 0;
}

.list {
  display: flex;
  gap: 53px;
  box-sizing: border-box;
  padding: 40px;
  background-color: #000000;
  border-radius: 32px;
  position: relative;
}

.item__tag {
  background-color: #191919;
  width: fit-content;
  border-radius: 5px;
  color: #fff;
  padding: 0 16px;
  margin-top: 8px;
  margin-bottom: 48px;
}

.item__no {
  text-decoration: none;
  color: #118da8;
}

.item__title {
  color: #fff;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2.56px;
  margin-top: 18px;
  margin-bottom: 28px;
  padding-right: 77px;
  min-width: 701px;
}

.item__text {
  color: rgba(255, 255, 255, 0.7);
  padding-right: 21px;
  margin-bottom: 18px;
  font-size: 22px;
  line-height: 33px;
  min-width: 757px;
}

.btn_episodes {
  margin: 0;
  position: absolute;
  bottom: 40px;
}

/* 

.jacob {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0px 20px;
  padding: 100px 50px;
  gap: 60px;
}

.jacob_info {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 0px;
  padding: 0;
  margin: 147px 0px;
  justify-content: flex-start;
  min-width: 590px;
}

.img_right {
  box-sizing: border-box;
  background: #118da8;
  border-radius: 50%;
  padding: 34px 24px 40px 17px;
  width: 112px;
  height: 112px;
}

.img_right:hover {
  background-color: rgba(17, 141, 168, 0.7);
}

.sub {
  display: flex;
  box-sizing: border-box;
  margin: 0px 20px;
  padding: 100px 50px;
  position: relative;
}

.salute2 {
  position: absolute;
  top: 430px;
  left: 12px;
}

.form {
  display: flex;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 32px;
}

.form_info {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 60px 151px 143px 60px;
  width: 642px;
}

.form_info__news {
  padding: 0;
  color: #118da8;
  font-size: 17px;
  line-height: 27px;
}

.form_info__upd {
  padding: 0;
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #ffffff;
  width: 431px;
}

.form_send {
  margin: 60px 60px 75px 75px;
  width: 522px;
}

input {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  background-color: #191919;
  border: none;
  border-radius: 6px;
  width: 522px;
  height: 82px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 29px;
  padding-left: 19px;
}

input:focus {
  color: rgba(255, 255, 255, 0.7);
}

.btn_form {
  width: 87px;
  height: 48px;
  font-size: 15px;
  margin: 0;
}

:focus::placeholder {
  color: transparent;
}

.reviews {
  margin: 0 20px;
  padding: 100px 50px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 321px 364px;
}

.reviews * {
  border-radius: 32px;
  background-color: #000000;
}

.rev-block {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 20px;
  padding: 54px 60px 51px 50px;
  width: 423px;
}

.review {
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}

.name {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}

.footer {
  display: flex;
  box-sizing: border-box;
  margin: 0 20px;
  padding: 100px 50px;
  gap: 16px;
}

.social {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 20px;
  width: 447px;
}

.social_links {
  flex-direction: row;
  gap: 10px;
}

.site1 {
  display: flex;
  box-sizing: border-box;
  width: 179px;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}

.site2 {
  display: flex;
  box-sizing: border-box;
  width: 179px;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}

.site1 > a {
  color: #ffffff;
  text-decoration: none;
}

.site2 > a {
  color: #ffffff;
  text-decoration: none;
}

.site1 > a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.site2 > a:hover {
  color: rgba(255, 255, 255, 0.7);
}
*/