* {
  font-family: DM Sans;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #191919;
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 44px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 33px;
}

.menu {
  display: flex;
  padding-left: 20px;
  gap: 40px;
}

li {
  list-style: none;
}

.menu__item {
  color: #fff;
  text-decoration: none;
}

.menu__item_active,
.menu__item:hover {
  color: #118da8;
}

.main {
  display: flex;
  padding: 40px 70px 0 70px;
  position: relative;
  gap: 60px;
  min-width: 1300px;
}

.image {
  display: flex;
}

.image__salute {
  position: absolute;
  top: 15px;
  left: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.info__title {
  color: #fff;
  font-weight: 300;
  font-size: 64px;
  line-height: 88px;
  letter-spacing: 3.2px;
  padding-right: 60px;
  max-width: 530px;
}

.info__title > strong {
  text-transform: uppercase;
}

.stream {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  gap: 16px;
}

.stream__text {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
}

.icons {
  padding-left: 0;
  display: flex;
  gap: 17px;
  height: 32px;
}

.episodes {
  display: flex;
  padding: 100px 70px 0 70px;
  flex-direction: column;
  gap: 40px;
  min-width: 1300px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #fff;
}

.btn {
  display: block;
  align-self: center;
  width: fit-content;
  height: 51px;
  background-color: #118da8;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  line-height: 27px;
  text-decoration: none;
  padding: 12px 15px 12px 20px;
}

.btn:hover {
  background-color: rgba(17, 141, 168, 0.7);
}

ul {
  padding-left: 0;
}

.episode {
  display: flex;
  gap: 53px;
  padding: 40px;
  background-color: #000000;
  border-radius: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.item__tag {
  background-color: #191919;
  width: fit-content;
  border-radius: 5px;
  color: #fff;
  padding: 0 16px;
  margin-top: 8px;
}

.item__no,
.meet__link,
.upd__news {
  text-decoration: none;
  color: #118da8;
}

.item__title {
  color: #fff;
  font-size: 57px;
  line-height: 70px;
  letter-spacing: 2.56px;
  padding-right: 77px;
  min-width: 701px;
}

.item__text,
.meet__text {
  color: rgba(255, 255, 255, 0.7);
  padding-right: 21px;
  font-size: 22px;
  line-height: 33px;
  min-width: 530px;
}

.btn_start {
  align-self: flex-start;
}

.host {
  display: flex;
  padding: 100px 70px;
  gap: 60px;
}

.meet {
  display: flex;
  flex-direction: column;
  padding: 147px 0;
  gap: 25px;
}

.btn_circle {
  border-radius: 50%;
  width: 112px;
  height: 112px;
  align-self: flex-start;
  padding: 37px 24px 37px 17px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  background: #000000;
  margin: 100px 70px;
  border-radius: 32px;
  height: fit-content;
  position: relative;
}

.upd {
  padding: 60px 150px 85px 60px;
  width: 642px;
}

.title_size {
  font-size: 72px;
}

.subscribe__image {
  position: absolute;
  top: 325px;
  left: -30px;
}

.subscribe__form {
  margin: 60px 60px 75px 75px;
  width: 522px;
}

input {
  color: rgba(255, 255, 255, 0.7);
  background-color: #191919;
  border: none;
  border-radius: 6px;
  width: 522px;
  height: 82px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 29px;
  padding-left: 19px;
}

input:focus {
  color: rgba(255, 255, 255, 0.7);
}

.btn_small {
  font-size: 15px;
  margin: 0;
}

:focus::placeholder {
  color: transparent;
}

.reviews {
  padding: 100px 70px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 321px 364px;
}

.reviews * {
  border-radius: 32px;
  background-color: #000000;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 54px 60px 51px 50px;
  width: 423px;
}

.card__review {
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}

.card__name {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}

.footer {
  display: flex;
  padding: 100px 70px;
  gap: 16px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 447px;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social > a {
  display: flex;
}

.footer__menu_column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 222px;
}
